body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

/* ----------------------banner-section------------------------ */

.banner-section {
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
    margin-bottom: 100px;
}

.banner-content {
    text-align: center;
}

.banner-content h1 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
}

.banner-content .heading-content {
    color: #62ff00;
}

.banner-content p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.banner-content .btn a {
    text-decoration: none;
    background: linear-gradient(tomato, #00ff4e);
    padding: 12px 18px;
    border-radius: 10px;
    box-shadow: 5px 7px 50px #364474;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

/* -------------------------donate-section---------------------- */

.donate-content {
    text-align: center;
}

.donate-content .heading {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

.donate-content .peragraph {
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 0;
}

.donate-content .flaxible-div {
    display: flex;
    justify-content: center;
}

.donate-content .flaxible-div ul {
    display: flex;
}

.donate-content .flaxible-div ul li {
    list-style: none;
}

.donate-content .flaxible-div ul li a {
    text-decoration: none;
    margin: 0px 20px;
    font-size: 30px;
    font-weight: 700;
    margin: 0px 20px;
    background: #f9f9f9;
    padding: 20px 10px;
    color: #707070;
    border-radius: 5px;
}

.donate-content .flaxible-div ul .backgraund-color {
    background: #dfaaaa;
    color: brown;
    padding: 20px 14px;
    border: 2px solid tomato;
}


.donate-content .button-area {
    text-align: center;
    margin-top: 50px;
}

.donate-content .button-area a {
    text-decoration: none;
    background: linear-gradient(tomato, #488b81);
    padding: 12px 18px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
}

.donate-content .button-area .btn {
    margin-top: 50px;
}

.donate-content .button-area .middile-area {
    width: 50%;
}

/* ---------------------box-section-------------------- */
.box-section .box-content {
    text-align: center;
    margin-top: 100px;
}

.box-section .box-content h2 {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

.box-section .box-flaxible {
    display: flex;
    padding: 0 10%;
    margin-top: 50px;
}

.box-section .box-flaxible .content {
    padding: 50px 20px;
    margin: 0px 10px;
    border-radius: 5px;
    box-shadow: 5px 7px 50px gray;
}

.box-section .box-flaxible .box-peragraph h3 {
    font-size: 24px;
    font-weight: 600;
    color: #121212;
}

.box-section .box-flaxible .box-peragraph p {
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}

.box-section .box-flaxible .bg-style {
    background: #b6cfd3;
}

.box-section .box-flaxible .box-style {
    background: #e5a3a3;
}

.box-section .box-flaxible .backgraund-style {
    background: #a2a2a3;
}

/* ----------------middile-section------------------ */
.middile-section .middile-parrent {
    display: flex;
    margin-top: 100px;
}

.middile-section .middile-parrent .middile-content img {
    height: 400px;
    width: 650px;
}

.middile-section .middile-parrent .middile-content {
    width: 50%;
}

.middile-section .middile-parrent .paragraph-content {
    background: black;
    padding: 0px 40px;
}

.middile-section .middile-parrent .paragraph-content .middile-btn a {
    text-decoration: none;
    background: linear-gradient(tomato, #488b81);
    padding: 12px 18px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;

}

.middile-section .middile-parrent .paragraph-content h2 {
    color: #ffffff;
    margin-top: 80px;
    font-size: 45px;
    font-weight: 700;
}

.middile-section .middile-parrent .paragraph-content p {
    color: #e8ffca;
    margin-bottom: 30px;

}

/* ---------------form-section------------------ */
.from-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.from-section .from-content {
    text-align: center;
}

.from-section .from-content h2 {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}

.from-section .from-content p {
    margin-bottom: 40px;
}

.from-section .input-from {
    display: flex;
    justify-content: center;
    border: none;
    background: #FFF4D6;
    width: 50%;
    margin: 0 auto;
    padding: 80px 0px;
}

.from-section .input-from .input-div {
    padding: 12px 20px;
    background: #D9D9D9;
    border-bottom-left-radius: 5px;
    border: none;
}

.from-section .input-from .from-btn {
    margin-top: 7px;
}

.from-section .input-from .from-btn a {
    text-decoration: none;
    background: linear-gradient(tomato, red);
    padding: 13px 25px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    margin-top: 50px;
}

/* -----------------------fotter-section----------------------- */
.fotter-section {
    background: black;
    padding: 15px 0;
}

.fotter-section .fotter-content {
    text-align: center;
}

.fotter-section .fotter-content h3 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #FF5959;
}

.fotter-section .fotter-content p {
    color: #D9DBE1;
    font-size: 14px;
    font-weight: 400;
}

/* --------------------End-------------------------- */